<IfModule mod_rewrite.c>
    RewriteEngine On
    # Baris ini memaksa header Authorization diteruskan ke PHP
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>